<%- include('includes/head',{pageTitle:"500"}) %> 
<link rel="stylesheet" href="/style/auth.css">
</head>
<body>
<%- include('includes/header') %> 
<main>
    <h1>
        Something went wrong 
    </h1>

   We will get back to you shortly
</main>
<%- include('includes/footer') %> 