<article id="cart-item-li">
    
    <div>
        <img src="7f22b3d3-03b6-4ed3-ab31-db3bea6ceaab-welcome.jpg" alt="productImage">
        Product Name : <%= product.title  %> 
    <br>
        Product Qunatity :<%=product.Quantity  %> 
    <br>
        Product Price :<%=product.price  %> 
    </div>
    
         
</article>